<article class="cakes">
    <div class="details">
        {{!-- template-lint-disable no-invalid-interactive --}}
        <div class="cake-img {{if this.isLarge "large"}}" {{action "toggleSize"}}>
            <Cakes::Image
                src={{@cakes.image}}
                alt="Image Of {{@cakes.Cake_Name}}"
            />
        </div>
        <div class="cake-details">
            <div class="cake-details-1">
                <h3>
                    <LinkTo @route="cakes" @model={{@cakes}}>
                        Cake Name: {{@cakes.title}}
                    </LinkTo>
                </h3>
                <div class="bakery">
                    <p>Bakery : {{@cakes.bakery}}</p>
                </div>
                <div class="bakery-location">
                    <p>Location : {{@cakes.city}}</p>
                </div>
                <div class="cake-price">
                    <p>Price : &#8377; {{@cakes.price}}</p>
                </div>
            </div>
            <Map
                @lat= {{@cakes.location.lat}}
                @lng= {{@cakes.location.lng}}
                @zoom="11"
                @width="150"
                @height="150"
                alt="A map of Bakery"
            />
        </div>
    </div>
</article>